<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>890908087712-8a27fujbnpm61bjvq13u9hl3l9pk9mrr.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.890908087712-8a27fujbnpm61bjvq13u9hl3l9pk9mrr</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>890908087712-pscku08b08kn75g7lv3vf7j75orfuau8.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyD9DN3vmL4qI-jK922bWtKCWNxOdZThefQ</string>
	<key>GCM_SENDER_ID</key>
	<string>890908087712</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.mendezcompany.cafemendez</string>
	<key>PROJECT_ID</key>
	<string>cafe-mendez</string>
	<key>STORAGE_BUCKET</key>
	<string>cafe-mendez.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:890908087712:ios:ff19391c26b5a4d5c480c5</string>
</dict>
</plist>